{% extends "base.html" %}
{% block title %}Add Course - LearnByTech{% endblock %}
{% block content %}

<div class="course-form-page">
    <div class="course-form-left">
        <h1>Create Course</h1>
        <p>Add a new course</p>
        <img src="{{url_for('static',filename='images/login-illustration.png.png')}}" alt="text">
    </div>
    <div class="course-form-right">
        <form method="post" action="{{url_for('course_create')}}" class="course-form">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required value="{{title or ''}}">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" id="description" rows="4" required>{{description or ''}}</textarea>
            </div>
            <div class="form-group">
                <label for="teacher_id">Teacher:</label><br>
                <select id="teacher_id" name="teacher_id" required>
                    {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn-course-create" type="submit">Create Course</button>


            <p class="course-form-links">
                <a href="{{url_for('list_courses')}}">Back to Courses</a>
                <a href="{{url_for('list_courses')}}">Cancel</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}