{% extends "base.html" %}
{% block title %}Register - LearnByTech{% endblock %}
{% block content %}
{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}
<h1>Register New User</h1>
<form method="post" >
    <p>
        <label>Username:</label><br>
        <input type="text" name="username" required >
    </p>
     <p>
        <label>Email:</label><br>
        <input type="email" name="email" required>
    </p>
     <p>
        <label>Password:</label><br>
        <input type="password" name="password" required minlength="4" maxlength="8">
    </p>
    <p>
        <label>Role:</label><br>
        <select name="role" required>
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
    </p>
    <button type="submit">Register </button>
</form>
{% endblock %}
